<main role="main">
  <div class="container-fluid jumbotron jumbotron-detail-rhubarb-pie py-5">
    <div class="container">
      <h1 class="display-3 fw-bold text-white">Rhubarb Pie</h1>
    </div>
  </div>

  <div class="container">
    <nav class="my-3 ms-3">
      <ol
        class="breadcrumb"
        style="--bs-breadcrumb-divider: '>'"
        aria-label="breadcrumb"
      >
        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="../allpies.html">Pies</a></li>
        <li class="breadcrumb-item">
          <a href="../fruitpies.html">Fruit pies</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Rhubarb Pie</li>
      </ol>
    </nav>

    <h1 class="fw-bolder my-3">
      Rhubarb pie
      <small class="fw-normal fst-italic"
        >Tangy, sweet, and irresistibly rustic</small
      >
    </h1>

    <div class="row">
      <div class="col-lg-8 col-sm-6">
        <img
          class="rounded-5 img-fluid"
          src="/assets/images/products/rhubarbpie.jpg"
          alt="Image of rhubarb pie"
        />
      </div>

      <div class="col-lg-4 col-sm-6 text-">
        <h3>About this pie</h3>
        <p class="lead">A slice of rhubarb perfection</p>
        <p class="text-">
          Savor the tangy-sweet harmony of our Rustic Rhubarb Pie, a celebration
          of bold, vibrant flavors. Each slice features tender chunks of
          rhubarb, their natural tartness perfectly balanced with just the right
          amount of sweetness, creating a filling that's rich and zesty.
          Enveloped in a golden, buttery crust with a crisp, flaky texture, this
          pie offers a rustic charm and satisfying crunch in every bite. Perfect
          on its own or paired with a scoop of creamy vanilla ice cream, our
          Rhubarb Pie is a delightful tribute to the simple pleasures of
          homestyle baking.
        </p>

        <h3>Ingredients</h3>

        <ul>
          <li>Rhubarb</li>
          <li>Sugar</li>
          <li>Eggs</li>
          <li>Milk</li>
        </ul>

        <div>
          <div class="row">
            <div class="col-md-4">
              <strong>$14.95</strong>
            </div>
            <div class="col-md-8">
              <a
                type="button"
                href="shoppingbasket.html"
                class="btn btn-success float-end"
                data-bs-toggle="offcanvas"
                data-bs-target="#shoppingCart"
                aria-controls="shoppingCart"
              >
                Add to basket
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-4 mb-3 mt-2 bg-light rounded border border-primary">
      <h4>A quote from Bethany</h4>
      <p class="mb-0 fst-italic">
        My recipes have been in our family for generations. We hope you enjoy
        our pies! - Bethany
      </p>
    </div>

    <div class="row my-3 p-3">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Ingredient</th>
              <th>Risk</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rhubarb</td>
              <td>Yes</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>Eggs</td>
              <td>Yes</td>
              <td>10%</td>
            </tr>
            <tr>
              <td>Nuts</td>
              <td>Maybe</td>
              <td>&lt;0.1%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h3 class="display-5 text-decoration-underline my-4">
      Other customers also bought...
    </h3>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="card rounded mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="/assets/images/products/applepiesmall.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Apple pie</h5>
            <p class="card-text">Our famous apple pie!</p>
          </div>
          <div class="card-footer">
            <a href="applepie.html" class="btn btn-primary">View details</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="card rounded mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="/assets/images/products/strawberrypiesmall.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Strawberry pie</h5>
            <p class="card-text">Our delicious strawberry pie!</p>
          </div>
          <div class="card-footer">
            <a href="applepie.html" class="btn btn-primary">View details</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="card rounded mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="/assets/images/products/peachpiesmall.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Peach pie</h5>
            <p class="card-text">Beautifully juicy peach pie!</p>
          </div>
          <div class="card-footer">
            <a href="rhubarbpie.html" class="btn btn-primary">View details</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="card rounded mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="/assets/images/products/cranberrypiesmall.jpg"
          />
          <div class="card-body">
            <h5 class="card-title">Cranberry pie</h5>
            <p class="card-text">Tangy and scrumptious festive treat!</p>
          </div>
          <div class="card-footer">
            <a href="rhubarbpie.html" class="btn btn-primary">View details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="offcanvas offcanvas-start shopping-cart-offcanvas"
    data-bs-scroll="true"
    tabindex="-1"
    id="shoppingCart"
    aria-labelledby="shoppingCarLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="shoppingCartLabel">Your shopping cart</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>

    <div class="offcanvas-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Pie name</th>
              <th>Quantity</th>
              <th class="text-center">Price</th>
              <th class="text-center">Total</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-sm-8 col-md-6">
                <div class="media">
                  <img
                    class="mr-3 thumbnail img-fluid"
                    width="75"
                    src="/assets/images/products/pumpkinpiesmall.jpg"
                    alt="pumpkin pie"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 media-heading text-primary">Pumpkin pie</h5>
                    <span>Status: </span
                    ><span class="text-success"><strong>In Stock</strong></span>
                  </div>
                </div>
              </td>
              <td class="col-sm-1 col-md-1" style="text-align: center">
                <input type="number" class="form-control" value="2" />
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <strong>$14.95</strong>
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <strong>$29.90</strong>
              </td>
              <td class="col-sm-1 col-md-1">
                <button type="button" class="btn btn-danger">X</button>
              </td>
            </tr>
            <tr>
              <td class="col-sm-8 col-md-6">
                <div class="media">
                  <img
                    class="mr-3 thumbnail"
                    width="75"
                    src="/assets/images/products/rhubarbpiesmall.jpg"
                    alt="rhubarb pie"
                  />
                  <div class="media-body">
                    <h5 class="mt-0 media-heading text-primary">rhubarb pie</h5>
                    <span>Status: </span
                    ><span class="text-warning"
                      ><strong>Last items</strong></span
                    >
                  </div>
                </div>
              </td>
              <td class="col-sm-1 col-md-1" style="text-align: center">
                <input type="number" class="form-control" value="1" />
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <strong>$14.95</strong>
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <strong>$14.95</strong>
              </td>
              <td class="col-sm-1 col-md-1">
                <button type="button" class="btn btn-danger">X</button>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                <h5>Subtotal</h5>
              </td>
              <td class="text-center">
                <h5><strong>$44.85</strong></h5>
              </td>
              <td></td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                <h5>Shipping</h5>
              </td>
              <td class="text-center">
                <h5><strong>$10.00</strong></h5>
              </td>
              <td></td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                <h3>Total</h3>
              </td>
              <td class="text-center">
                <h3><strong>$54.85</strong></h3>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <form class="m-1">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code" />
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
      <a type="button" href="order.html" class="m-1 btn btn-success">
        Go to order page
      </a>

      <a
        type="button"
        href=""
        class="m-1 btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#cancelModal"
      >
        Clear your shopping cart
      </a>
    </div>
  </div>

  <div
    class="modal fade"
    id="cancelModal"
    tabindex="-1"
    aria-labelledby="cancelModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Clear Basket</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Are you sure you want to clear your cart?</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-danger">Yes</button>
        </div>
      </div>
    </div>
  </div>
</main>
